<form
    action="javascript:0"
    class="people-list__form form"
    (submit)="propagatePersonNoArgs()"
>
    <!-- (submit)="propagatePersonByReference(firstNameInput, lastNameInput)" -->
    <!-- (submit)="propagatePerson(tempPerson)" -->
    <div class="mb-3 form-group row">
        <input
            type="text"
            class="form-control col"
            name="fname"
            id="fname"
            placeholder="First name"
            #firstNameInput
        >
        <!-- [(ngModel)]="tempPerson.firstName" -->
        <input
            type="text"
            class="form-control col offset-1"
            name="lname"
            id="lname"
            placeholder="Last name"
            #lastNameInput
        >
        <!-- [(ngModel)]="tempPerson.lastName" -->

    <button
        type="submit"
        class="btn btn-primary col-1 offset-1"
    >Add</button>
    </div>
</form>